// carousel.module.scss
.container {
  position: relative;
  width: 100%;
  height: auto;
}

.carouselItem {
  position: relative;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.arrowRight {
  right: 10px;
}

.arrowLeft {
  left: 10px;
}