/* carousel.module.scss */

.container {
    position: relative;
    width: 100%;
    height: 500px; /* Ensure the container has a set height */
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

.placeholder {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.8);
    z-index: 1;
    transition: opacity 0.5s ease-in;
    opacity: 1;
}

.visible {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.hidden {
    opacity: 0;
}

.image {
    object-fit: cover; /* Ensure the image covers the container */
}

.imageWrapper img {
    opacity: 0.5; /* Adjust the opacity while loading */
}

.imageWrapper img.visible {
    opacity: 1; /* Fully visible when loaded */
}

.textContainer {
    height: 100px; /* Initial height for the JS to work correctly */
    overflow: hidden;
    transition: height 0.5s ease-out; /* Smooth transition for height change */
}

.button {
    cursor: pointer;
    margin-top: 10px;
}

.omHeading {
    order: 0;
    align-self: auto;
    margin-left: 6px;
    font-size: 32px;
    font-weight: 400;
    display: block;
}

.heading2 {
    text-align: center;
    border-radius: 0;
}

.heading3 {
    text-align: center;
}

.paragraph {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    overflow-wrap: normal;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
    height: auto;
    max-height: 100%;
    margin-bottom: 11px;
    font-family:
        Arial,
        Helvetica Neue,
        Helvetica,
        sans-serif;
    font-weight: 400;
    display: flex;
    overflow: hidden;
}

.textWrapper {
    height: 100%;
    margin-bottom: 47px;
    display: block;
    position: static;
    overflow: hidden;
}

.paragraph2 {
    aspect-ratio: auto;
    text-align: left;
    white-space: pre-wrap;
    word-break: normal;
    overflow-wrap: anywhere;
    object-fit: fill;
    border: 1px #000;
    border-radius: 0;
    flex-flow: column;
    height: 100%;
    margin-left: 8px;
    margin-right: 16px;
    display: flex;
    position: static;
    overflow: hidden;
}
