/* carousel.module.scss */
$smallScreenSize: 768px; // Define the small screen size

.container {
    /* No changes needed here */
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    /* Add more styles as needed */
}

.image {
    /* Adjust styles for the images within the slideshow */
    width: 200px; /* Example square size, adjust as needed */
    height: 200px; /* Same as width to maintain square aspect ratio */
    object-fit: cover; /* Keeps the aspect ratio, but crops the image */
    margin: auto; /* Centers the image horizontally */
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust based on top/left values */

    @media (max-width: $smallScreenSize) {
        width: 150px; /* Adjust the width for smaller screens */
        height: 150px; /* Adjust the height for smaller screens */
    }
}
